@import "../settings/vars";

.mm-text-field {
  color: var(--secondaryText);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
  /* TODO: correccion de linter para entrelazado (nested) */
  & input {
    border: none;
    border-bottom: 1px solid var(--borderLine);
    box-sizing: border-box;
    font-size: 16px;
    height: 63px;
    outline: none;
    padding: 38px 0 8px;
  }

  &:hover input {
    border-bottom: 2px solid var(--borderLine);
    padding-bottom: 7px;
  }

  &:hover input:focus {
    color: var(--primaryText)
  }

  & label {
    @apply --animation-standard-mobile;

    position: absolute;
    top: 37px;
    transform-origin: left top;
  }

  & input:focus + label,
  & .mm-input-not-empty + label {
    color: var(--colorTextFieldFocus);

    transform: translateY(-100%) scale(0.75);
  }

  & span {
    visibility: hidden;
    font-size: 12px;
    padding-top: 8px;
  }

  & .mm-input-helper-text ~ span {
    visibility: visible;
  }
}

@media (--breakpoint-landscape-small-2) {
  .mm-text-field {
    & label {
      @apply --animation-standard-tablet;
    }
  }
}

@media (--breakpoint-landscape-medium-2) {
  .mm-text-field {
    & label {
      @apply --animation-standard-desktop;
    }
  }
}
